code/build/*
code/bin/coff2noff
code/bin/*.o
code/bin/.*.d
code/unit_tests/build/*
code/unit_tests/*.pro.user
code/unit_tests/*.txt.user
code/test/integration_test/io/*
**/CMakeFiles
nbproject/
code/unit_tests/build-*
*.pro.user
*.txt.user
*.cmake
code/unit_tests/Makefile
code/unit_tests/synchconsole_test/Makefile
code/unit_tests/network_test/Makefile
code/unit_tests/filesys_test/Makefile
code/unit_tests/vm_test/Makefile
code/unit_tests/exception_test/Makefile
CMakeCache.txt
